<%
for (const item of items) {
    if (forbiddenAccess[item.id] === true) {
        continue;
    }
    let css = item.options.css;
    if (item.data.type === 'header') {
%>
<div class="nav-header <%- css %>"><%- item.data.title %></div>
<%
} else {
    const opened = item.data.opened || openedItems.includes(item);
    if (item.children) {
        css += ' tree';
    }
    if (opened) {
        css += ' loaded open';
    }
    if (item === activeItem) {
        css += ' active';
    }
%>
<div class="nav-item <%- css %>" data-id="<%- item.id %>">
    <a href="<%- _widget.getItemUrl(item) %>" class="nav-link">
        <span><%- item.title %></span>
        <span class="arrow fa fa-angle-left"></span>
    </a>
    <% if (item.children) { %>
    <div class="nav-children">
        <% if (opened) { %>
        <%- include('sideMenuItems', {items: item.children}) %>
        <% } else { %>
        <div class="nav-item-loader">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
        <% } %>
    </div>
    <% } %>
</div>
<% }} %>