<!-- report/_meta/list/grid -->
<%
const extraData = extraMeta.getData(meta.report);
data = {
    key: meta.report.getKey(),
    multiple: false,
    order: meta.report.data.order || {[meta.report.getKey()]: -1},
    columns: extraData.columns,
    list: `report/data/list?n=${meta.node.id}`,
    filter: {url: `report/data/filter?r=${meta.report.id}`},
    showTop: true,
    jam: 'ReportList',
    ...data
};
%>
<div class="frame-box scroll-container" data-title="<%= blocks.title %>">
    <div class="frame-box-header scroll-header">
        <div class="commands">
            <button data-command="reload" class="btn-outline-secondary btn" type="button" title="Reload">
                <i class="fa fa-redo-alt"></i>
            </button>
        </div>
    </div>
    <div class="frame-box-body scroll-body">
        <div class="data-grid"
             data-jam="<%- data.jam %>"
             data-owner-id="{{ownerId}}"
             data-params="<%= JSON.stringify(data) %>">
            <% if (extraData.filterColumns.length) { %>
            <div class="list-filter">
                <div class="text-center"><i class="fa fa-spinner fa-spin"></i></div>
            </div>
            <% } if (data.showTop) { %>
            <%- include(_view.get('_part/list/top')) %>
            <% } %>
            <div class="data-grid-content"></div>

            <%- include(_view.get('_part/list/bottom')) %>
        </div>
        <div class="overlay">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
</div>